<div class="container mx-auto my-8">
  <div class="flex items-center mb-8">
    <h4 class="h4 ml-10">
      <%= t("users.index.title") %>
    </h4>
    <div class="mr-auto flex items-center">
      <%= render partial: "hke/shared/search_box", locals: { url: hke_users_path } %>
      <%= link_to t("users.index.create_new"),
      new_hke_user_path,
      class: "btn btn-small btn-primary mr-10" %>
    </div>
  </div>

  <div id="search_results">
    <%= render partial: "hke/shared/search_results",
    locals: {
      items: @users,
      fields: %i[name email created_at],
      other_fields: [
        { header: t("users.index.roles"), data: "role_summary" },
        { header: t("users.index.community"), data: "community_name" },
      ],
      actions: [
        { name: "action_edit", path: :edit_hke_user_path },
        {
          name: "action_delete",
          path: :hke_user_path,
          method: :delete,
          confirm: true,
        },
      ],
    } %>
  </div>
</div>
